/* Header.css */
.header {
    background-color: #0350a2;
    padding: 10px;
  }
  
  .header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header nav a {
    display: inline;
    color:#ffffff;
    text-decoration:none;
    font-size: 16px;
  }
  
  .header nav button {
    background-color: #0066d3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header nav button:hover {
    background-color: #003a75;
  }
  