/* Header.css */
.header {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .header nav a {
    color:#007bff;
    background-color: #abd3fe;;
    font-weight: bold;
    text-decoration:none;
    font-size: 16px;
    margin: 0 10px;
    border: 1px solid #ccc;
    padding: 10px 15px;;
    border-radius: 20px;
  }
  
  .header nav button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header nav button:hover {
    background-color: #003a75;
  }
  