/* Landing.css */
.landing-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 70%;
    max-width: 90%;
    margin: 30px auto;
    text-align: center;
  }
  
  .landing-container h1 {
    color: #007bff;
    margin-bottom: 25px;
  }
  
  .landing-container p {
    color: #333;
    margin-bottom: 15px;
  }
  