/* PrivateRoute.css */

.private-route-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .loading-message {
    font-size: 2.5em;
    color: #007bff;
  }
  
  .error-message {
    font-size: 1.5em;
    color: #dc3545;
  }
  