.add-income-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.add-income-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.add-income-form button {
    width: auto; /* Ensure the button doesn't take the whole div width */
}
