.income-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    padding: 10px;
}

.income-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

